%first-button {
    padding: 0.62rem 1.62rem;
    color: map-get($colors, "simple-text");
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    transform: scale(1);
    transition: 0.3s;
    border: 1px solid #C5CEE0;
    &:hover {
      transform: scale(1.1);
      background-color: map-get($colors, "hover-color");
      color: white;
    }
  }
  
  %second-button {
    padding: 0.62rem 1.62rem;
    color: white;
    border-radius: 0.5rem;
    background-color: #1329a0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    transform: scale(1);
    border: none;
    transition: 0.3s;
    font-feature-settings: "clig" off, "liga" off;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      transform: scale(1.1);
      background-color: map-get($colors, "hover-color");
    }
  }
  
  %general-button {
    padding: 0.75rem 2.25rem;
    border: 1px solid #0095FF;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    transform: scale(1);
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
      background-color: map-get($colors, "hover-color");
      color: white;
      border: 1px solid map-get($colors, "hover-color" );
    }
  }
  

  %rectangular{
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    flex-shrink: 0;
  }