.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  background-color: #cbcbcbb1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  z-index: 20;
}

.burger-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  border-right: 1px solid #ddd;
  transform: translateX(-100%);
  transition:  0.3s transform;
  z-index: 21;
  ul{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    span{
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding-left: 2.5rem;
      li{
        padding: 1rem;
        width: 80%;
        height: 80%;
        transform: scale(1);
        transition: 0.3s all;
        &:hover{
          transform: translateX(1rem);
        }
        a{
          color: map-get($colors, "simple-text");
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.5rem;
          transition: 0.3s all;
          &:hover{
            color: map-get($colors, "danger" );
          }
        }
      }
    }
    .buttons-nav{
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      a{
        text-align: center;
        width: 80%;
        padding: 0.65rem 1.65rem;
      }
      a:first-of-type{
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: map-get($colors, "danger" );
        border-radius: 0.5rem;
      }
      a:last-of-type{
        color: black;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: white;
        border-radius: 0.5rem;
        border: 1px solid black;
      }
    }
  }

}

#menu-check{
  display: none;
  &:checked {
    & ~ .backdrop{
      opacity: 1;
      visibility: visible;
      transform: translateX(300px);
    }
    & ~ .burger-navbar{
      transform: translateX(0);
    }
    & ~ header {
      transform: translateX(300px);
        .burger-menu{
          span{
            background: transparent;
            &::before{
              transform: rotate(45deg);
              bottom: 0;
              transition: 0.3s  0.3s transform, 0.3s bottom ;
            }
            &::after{
              transform: rotate(-45deg);
              top: 0;
              transition: 0.3s 0.3s   transform,  0.3s top ;
            }
          }
        }
    }
  }
}

header {
    width: 95%;
    margin: 0 auto;
    margin-top: 1.38rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
    transition: 0.3s transform;
    .burger-menu-container{
      display: none;
      cursor: pointer;
      .burger-menu{
        --height: 3px;
        --space: calc(var(--height) * 2.5);
        width: calc(var(--space ) * 4);
        height: calc(var(--height) + (var(--space) * 2) );
        span, span::before, span::after {
          content: '';
          display: block;
          height: var(--height);
          width: calc(var(--space ) * 4);;
          background: #222;
          cursor: pointer;
        }
          span{
            transform: translateY(var(--space));
            transition: 0.3s 0.3s  all;
            &::before{
              position: absolute;
              bottom: var(--space);
              transition: 0.3s transform, 0.3s 0.3s bottom ;
          }
            &::after{
              position: absolute;
              top: var(--space);
              transition: 0.3s transform, 0.3s  0.3s top ;
          }
        }
      }
    }
  
    .header_left_side {
      display: flex;
      align-items: center;
      gap: 1rem;
      span {
        color: map-get($colors, "middle-text");
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
      }
    }
  
    nav.navbar {
      ul {
        display: flex;
        span {
          display: flex;
          gap: 3rem;
          align-items: center;
          li {
            transition: 0.2s;
            &:hover {
              transform: scale(1.15);
            }
            a {
              color: map-get($colors, "simple-text");
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5rem;
              &:hover {
                color: map-get($colors, "danger");
              }
            }
          }
        }
      }
    }
  
    div.search{
        display: flex;
        align-items: center;
        padding: 0.2rem;
        border-radius: 0.5rem;
        width: 0px;
        height: 20px;
        transition: width 0.5s ease-in-out ;
        &:hover{
            width: 195px;
            border: 1px solid #d2d2d2;
        }
        input{
            border: none;
            outline: none ;
            width: 0;
            height: 20px;
            border-radius: 0.5rem;
            transition: width 0.5s ease-in-out ;
        }
        &:hover input{
            width: 175px;
        }
    }
  
    .buttons-right {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        div .try-demo {
        display: inline-block;
        @extend %first-button;
      }
        div .buy-now{
        display: inline-block;
        @extend %second-button;
      }
    }
  }
  





