section.heading{
    margin-top: 7.25rem;
    text-align: center;
    div:first-of-type{
        & .heading_img{
            display: none;
        }
    }
    p:first-of-type{
        margin: 0 auto;
        width: 70%;
        span{
            color: map-get($colors, "danger" );
        }
        font-size: 3.75rem;
        font-weight: 600;
        line-height: 4.5rem;
        margin-bottom: 2rem;
    }
    p:last-of-type{
        margin: 0 auto;
        width: 70%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;;
        color: #8F9BB3;
        margin-bottom: 3.5rem;
    }
    .heading_buttons{
        margin-bottom: 4.5rem;
        a:first-of-type{
            display: inline-block;
            background-color: #0095FF;
            color: white;
            margin-right: 1rem;
            @extend %general-button;
        }
        a:last-of-type{
            display: inline-block;
            border: 1px solid #0095FF;
            color: #0095FF;
            @extend %general-button;
        }
    }
}



section.report{
    text-align: center;
    margin-bottom: 7rem;
    .report-img{
        position: relative;
        z-index: 1;
         img{
            width: 70%;

        }
    }
    .report-background{
        position: relative;
        background-color: map-get($colors, "background" );
        width: 100%;
        margin-top: -10rem;
        height: 31.5rem;
        p{
            color: map-get($colors, "simple-text" );
            width: 70%;
            margin: 0 auto;
            font-size: 1.5rem;
            line-height: 2.5rem;
            text-align: center;
            padding-top: 11rem;
        }
        .rectangular-1{
            position: absolute;
            @extend %rectangular;
            background-color: #FFD6D9;
            border-radius: 2.25rem 0.25rem 2.25rem 2.25rem;
            top: 60%;
            left:  85%;
        }
        .rectangular-2{
            background-color: #FFA8B4;
            @extend %rectangular;
            border-radius: 50% 50rem 50rem  50%;
            top: 80%;
            left: 20%;
        }
        .dots{
            position: absolute;
            display: grid;
            grid-template-columns: repeat(5, minmax(0.5rem, 1.5rem));
            grid-template-rows: repeat(4);
            gap: 0.75rem;
            top: 65%;
            left: 10.8%;

            .dot{
                width: 1.5rem;
                height: 1.5rem;
                border: 2px solid #FFD6D9;
                border-radius: 50%;
            }
        }
    }
}

section.plan{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:0 auto;
    margin-bottom: 11rem;
    .about-plan{
        flex-basis: 28%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        p:nth-child(1){
            a{
                color: #0095FF;
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
        p:nth-child(2){
            color: map-get($colors,"middle-text" );
            font-size: 2.125rem;
            font-weight: 600;
            line-height: 2.5rem
        }
        p:nth-child(3){
            color: #8F9BB3;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

}

article.todo_list{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8.5rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(16rem, 24rem) );
    grid-template-rows: auto;
    justify-content: center;
    gap: 6rem  3rem;
    .card{
        border-radius: 5rem;
        padding: 1rem 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transform: scale(1);
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        &:hover{
            transform: scale(1.1);
            background-color: map-get($colors,"background" );
        }
        .card_icon{
            position: relative;
            width: 4rem;
            height: 4rem;
            margin-bottom: 2rem;
            img{
                @extend %center
            }
        }
        p:first-of-type{
            font-size: 1.25rem;
            color: map-get($colors, "simple-text" );
            font-weight: 400;
            line-height: 1.75rem;
            margin-bottom: 1rem;
        }
        p:last-of-type{
            font-size: 0.875rem;
            color: map-get($colors, "simple-text" );
            font-weight: 400;
            line-height: 1.25rem; 
        }

        .clock{
            background-color: map-get($colors, "danger" );
            border-radius: 50%;
        }
        .trend-up-1{
            background-color: #00D68F;
            border-radius: 50% 5%  50%  50%;
        }
        .person{
            background-color: #0095FF;
            border-radius: 50% 5%  5%  50%;
        }
        .refresh{
            background-color: #FFAA00;
            border-radius: 50% 5%  5%  5%;
        }
        .phone-call{
            background-color: #FF3DB1;
            border-radius: 5% 50%  50%  5%;
        }
        .trend-up-2{
            background-color: #9C61FE;
            border-radius: 50%;
        }
    }
}

.social-media{
    margin-bottom: 6rem;
    .social-media_container{
        padding: 7rem 7%;
        margin: 0 auto;
        background-color: #FFD6D9;
    }
    &_heading{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4rem;
        &_text p:first-of-type{
            color: map-get($colors,"middle-text" );
            font-size: 2.125rem;
            font-weight: 600;
            line-height: 2.5rem;
            margin-bottom: 1.5rem;
        }
        &_text p:last-of-type{
            width: 70.5%;
            color: map-get($colors,"middle-text" );
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem
        }
        &_button{
            background-color: #0095FF;
            @extend %general-button;
            text-align: center;
            a{
                color: white;
            }
        }
    }
    &_cards{
        display: grid;  
        grid-template-columns: repeat( auto-fit, minmax( 14rem, 17rem) );
        grid-template-rows: auto;
        gap: 2rem;
        .social-media_heading_button{
            display: none;
        }
        &_card{
            display: flex;
            background-color: white;
            max-height: 7rem;
            min-height: 6rem;
            gap: 1rem;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;            transition: 0.3s;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
                background-color:  map-get($colors,"hover-color" );
            }
            &_icon{
                position: relative;
                width: 3rem;
                height: 3rem;
                margin-top: 1rem;
                margin-left: 1rem;
                background-color: #0095FF;
                border-radius: 50%;
                img{
                    @extend %center;
                }
                &.facebook{
                    background-color: #45C4FC;
                }
                &.twitter{
                    background-color: #1CACEE;
                }
                &.instagram{
                    background-color: #F140AA;
                }
                &.linkedin{
                    background-color: #1CACEE;
                }
                &.pinterest{
                    background-color: #C8232C;
                }
                &.google{
                    background-color: #E3EEFF;
                }
                &.telegram{
                    background-color: #1588CC;
                }
                &.reddit{
                    background-color: #FD431D;
                }
                &.tumblr{
                    background-color: #34465D;
                }
                &.medium{
                    background-color: #1B1A19;
                }
                &.vk{
                    background-color: #4376A6;
                }
                &.ok{
                    background-color: #F77A00;
                }
                &.wordpress{
                    background-color: #21759B;
                }
                &.plurk{
                    background-color: #EA4640;
                }
            }
            &_text{
                margin-top: 1.25rem;
                p:first-of-type{
                    margin-bottom: 0.5rem;
                    color: map-get($colors, "simple-text" );
                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 1.75rem;
                }
                p:last-of-type{
                    width: 11.5rem;
                    color: map-get($colors, "simple-text" );
                    font-size: 0.75rem;
                    font-weight: 400;
                    line-height: 1rem;
                }
            }

        }
    }
}

.features{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    &_heading{
        text-align: center;
        margin-bottom: 3.5rem;
        p:first-of-type{
            color: map-get($colors,"middle-text" );
            font-size: 2.125rem;
            font-weight: 600;
            line-height: 2.5rem;
            margin-bottom: 1.5rem;
        }
        p:last-of-type{
            max-width: 24rem;
            min-width: 20.5rem;
            margin: 0 auto;
            color: #8F9BB3;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }

    &_first-part{
        margin: 0 auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_img{
            display: flex;
            position: relative;
            img{
                z-index: 1;
            }
            &_bg{
                position: absolute;
                width: 60%;
                height: 20rem;
                background-color: #FFF2F2;
                border-radius: 1.5rem;
                top: -2.5rem;
                left: -30%;
            }
        }
    }


    &_second-part{
        margin: 0 auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_img{
            display: flex;
            position: relative;
            img{
                z-index: 1;
            }
            &_bg{
                position: absolute;
                width: 55%;
                height: 20rem;
                background-color: #F2F8FF;
                border-radius: 1.5rem;
                top: -2.5rem;
                left: 75%;
            }
        }
        
    }

    &_third-part{
        margin: 0 auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7rem;
        &_img{
            display: flex;
            position: relative;
            img{
                z-index: 1;
            }
            &_bg{
                position: absolute;
                width: 60%;
                height: 20rem;
                background-color: #F0FFF5;
                border-radius: 1.5rem;
                top: -2.5rem;
                left: -30%;
            }
        }
    }
    .pharagraph{
        width: 24rem;
        p:first-of-type{
            color: map-get($colors,"simple-text" );
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2rem;
            margin-bottom: 1rem;
        }
        p:last-of-type{
            color: map-get($colors,"simple-text" );
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }
    &_button{
        margin: 0 auto;
        margin-bottom: 10rem;
        & a{
            @extend %general-button;
            background-color: #0095FF;
            color: white;
        }
    }
}
 
.data{
    background-color: #FF708D;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 6rem;
    &_text{
        p:first-of-type{
            text-align: center;
            color: white;
            font-size: 6rem;
            font-weight: 600;
            line-height: 7.5rem;
            margin-top: 5.5rem;

        }
        p:last-of-type{
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.75rem; 
            color: white;
            text-align: center;
        }
        &_circle-first{
            width: 20rem;
            height: 10rem;
            background: var(--transparent-basic-white-8, rgba(255, 255, 255, 0.08));
            border-radius: 10rem 10rem 0 0;
            margin-top: -7%;
            overflow: hidden;
        }
        &_circle-second{
            width: 10rem;
            height: 5rem;
            border-radius: 10rem 10rem 0 0;
            margin-top: -30%;
            margin-left: 25%;
            background-color: rgba(255, 255, 255, 0.425);
            overflow: hidden;
        }
    }

}

.world-customer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
    text-align: center;
    img{
        width: 50%;
    }
    p:first-of-type{
        color: map-get($colors,"middle-text" );
        font-size: 2.125rem;
        font-weight: 600;
        line-height: 2.5rem;
    }
    p:last-of-type{
        width: 25%;
        text-align: center;
        color: #8F9BB3;
        font-weight: 400;
        line-height: 1.5rem;
    }
}


    .slide{
        background-color: #F7F9FC;
        margin-bottom: 4.5rem;
        >p{
            width: 60%;
            margin: 0 auto;
            text-align: center;
            color: map-get($colors,"middle-text" );
            font-size: 2.125rem;
            font-weight: 600;
            line-height: 2.5rem;
            margin-bottom: 4.5rem;
            padding-top: 4rem;
        }
        &_container{
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 3.5rem;
            p{
                width: 60%;
            }
            &_arrow-box{
                position: relative;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                background-color: #EDF1F7;
                img{
                    @extend %center;
                }
            }
        }
        &_author{
            margin: 0 auto;
            width: 220px;
            display: flex;
            align-items: center ;
            gap: 1rem;
            padding-bottom: 5.5rem;
            &_img{
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                background-color: rgb(40, 32, 32);
                position: relative;
                img{
                    @extend %center;
                }
            }
            &_about{
                p:first-of-type{
                    color: map-get($colors,"simple-text" );
                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 1.75rem;
                }
                p:last-of-type{
                    color: #8F9BB3;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                }
            }
        }
    }


    .blog{
        width: 80%;
        margin: 0 auto;
        & .bottom-link{
            display: none;
        }
        &_heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3.5rem;

            >p{
                color: map-get($colors, "middle-text" );
                font-size: 2.125rem;
                font-weight: 600;
                line-height: 2.5rem;
            }
            &_link{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                a{
                    color: #3366FF;
                }
            }
        }

        &_cards{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &_card{
                width: 24rem;
                height: 26rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                p{
                    color: map-get($colors, "middle-text" );
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: 1.75rem;
                }
                &_button a{
                    color: map-get($colors, "middle-text" );
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.25rem;
                    margin-right: 1rem;
                    padding: 0.38rem 1rem;
                    border: 1px solid #C5CEE0;
                    border-radius: 0.25rem;
                }
            }
        }

        &_subscribe{
            width: 50%;
            margin: 5rem auto;
            text-align: center;
            p{
                margin-bottom: 3rem;
            }
            &_button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1rem;
                input{
                    padding: 0.88rem 3.25rem 0.88rem 1rem;
                    width: 70%;
                    border-radius: 0.5rem;
                    border: 1px solid #E4E9F2;
                    background-color: #F7F9FC;
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.25rem;
                    color: #8F9BB3;
                    margin-right: 0.5rem;
                }
                a{
                    @extend %general-button;
                    background-color: #3366FF;
                    color: white;
                    width: 30%;
                    
                }
            }

        }
    }

    .questions{
        width: 60%;
        margin: 6rem auto;
        >p{
            text-align: center;
            color: map-get($colors, "middle-text" );
            font-size: 2.125rem;
            font-weight: 600;
            line-height: 2.5rem;
            margin-bottom: 5rem;
        }
        &_block{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0.63rem 1.5rem;
            button{
                width: 1.5rem;
                height: 1.5rem;
                font-size: 1.5rem;
                text-align: center;
                line-height: 1.5rem;
                padding: 0;
                margin: 0;
                color: #8F9BB3;
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
            }
            &_first{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #E4E9F2;
                &:active + .questions_block_second{
                    display: block;
                }
            }
            .first-heading{
                color: map-get($colors, "middle-text" );
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 1.75rem;
                margin-bottom: 1.5rem;
            }
            &_second{
                display: none;
                width: calc(100% - 3rem);
                margin-left: 3rem;
                color: map-get($colors, "middle-text" );
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
                transition: 1s;

                &_heading{
                    display: flex;
                    justify-content: space-between;
                }
                &_answers p:last-of-type{
                    margin-top: 2rem;
                }
            }
        }


    }


.offer{
    position: relative;
    width: 85%;
    margin: 7rem auto;
    border-radius: 1rem;
    background-color: #FF708D;
    padding: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &_circles{
        position: absolute;
        div:nth-child(1){
            width: 30rem;
            height: 20rem;
            background: var(--transparent-basic-white-8, rgba(255, 255, 255, 0.155));
            border-radius: 20rem 20rem 0 0;
            margin-top: 30%;
            margin-left: -35%;
            overflow: hidden;
        }
        div:nth-child(2){
            width: 15rem;
            height: 7.5rem;
            border-radius: 7.5rem 7.5rem 0 0;
            margin-top: -45%;
            margin-left: -10%;
            background-color: rgba(255, 255, 255, 0.193);
            overflow: hidden;
        }

    }
    &_text{
        p:first-of-type{
            display: inline;
            color: white;
            font-size: 3rem;
            font-weight: 600;
            line-height: 4rem; 
            margin-bottom: 1rem;
        }
        p:last-of-type{
            color: white;
            font-size: 1rem;
            line-height: 1.5rem;
            width: 60%;
        }
    }
    &_buttons{
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        a{
            padding: 0.75rem 1.75rem;
            border: none;
            transition: 0.3s;
            transform: scale(1);
            border-radius: 0.5rem;
            &:hover{
                transform: scale(1.1);
            }
        }
        a:first-of-type{
            padding: 0.75rem 2,75rem;
            background-color: white;
            color: #222B45;
            line-height: 1.25rem;
            text-align: center;
        }
        a:last-of-type{
            background-color: #222B45;
            color: white;
            line-height: 1.25rem;
            text-align: center;
        }
    }
}

