@media (max-width: 1200px){
    header{
      justify-content: space-evenly;
      flex-wrap: nowrap;
      .navbar{
        display: none;
      }
      .search{
        margin-right: 1rem;
      }
      .buttons-right{
        div:first-of-type{
          display: none;
        }
      }
      div.burger-menu-container{
        display: block;
      }
    }
    main {
      section.heading{
        p.heading_h1{
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
      section.slide{
        .slide_author_img{
          max-width: 2.5rem;
          max-height: 2.5rem;
        }
      }
      article.blog {
        .blog_subscribe{
          flex-wrap: wrap;
          flex-direction: column;
          gap: 1rem;
          &_button{
            input{
              max-width: 90%;
              min-width: 100%;
              margin-bottom: 1rem;
            }
            a{
              max-width: 100%;
              min-width: 8rem;
            }
          }

        }
      }
      section.world-customer{
        p:last-of-type{
          width: 90%;
        }
      }
    }
  }



@media (max-width: 960px){
    section.data {
      .first-data .circle, .second-data .circle{
        visibility: hidden;
      }
  }
  section.report{
    div.report-img{
      img{
        display: none;
      }
    }
    div.report-background{
      margin-top: 0;
      position: relative;
      height: 33rem;
      p{
        position: absolute;
        width: 70%;
        top: -33%;
        left: 20%;
        font-weight: 600;
        line-height: 2.5em;
        z-index: 1;
      }
      div.dots{
       display: none;
      }
      div.rectangular-2{
        top: 0;
        left: 1rem;
      }
    }
  }
  section.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
  }

  section.social-media{
    text-align: center;
    div.social-media_heading_button{
      display: none;
    }
    div.social-media_heading_text{
      p:last-of-type{
        width: 100%;
      }
    }
  }
  section.slide{
    >p{
      width: 70%;
    }
  }
  article.blog{
    div.blog_heading_link{
      display: none;
    }
    div.bottom-link{
      display: block;
    }
  }
}


@media screen and  (max-width: 696px) and (min-width:561px){
  main{
    section.social-media{
      div.social-media_cards{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax( 17rem, 1fr) );
        text-align: center;
        div.social-media_heading_button{
          display: block;
        }
      }
    }
    section.offer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      div.offer_buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}




@media screen and  (max-width: 560px){
  main{
    section.heading{
      div:first-of-type{
        & .heading_img{
            display: block;
            width: 70%;
            margin: 0 auto;
        }
      }
      div.heading_buttons{
        display: flex;
        flex-direction: column-reverse;
        align-items: last baseline;
        justify-content: center;
        padding-left: 15%;
        gap: 1.5rem;
        width: 70%;
        margin: 4.5rem auto;
        a{
          width: 90%;
        }
      }
    }
    section.report{
      div.report-background{
        position: relative;
        margin-top: 0rem;
        height: 40rem;
        p{
          width: 60%;
          top: -28%;
          left: 20%;
          font-size: 1.25rem;
        }
        div.rectangular-1{
          top: 70%;
          left: 78%;
        }
        div.rectangular-2{
          top: 0;
        }
      }
    }
    section.social-media{
      div.social-media_cards{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        div.social-media_heading_button{
          display: block;
        }
      }
    }
    article.features{
      justify-content: center;
      div.part{
        display: flex;
        flex-direction: column;
        gap: 8rem;
        justify-content: center;
        margin: 0;
        width: 100%;
        align-items: center;
      }
    }
    section.slide{
      >p{
        width: 90%;
      }
      div.slide_container{
        p:first-of-type{
          width: 90%;
          margin: 0 auto;
        }
        div.slide_container_arrow-box{
          display: none;
        }
      }
    }
    section.offer{
      display: flex;
      flex-direction: column;
      gap: 3rem;
      div.offer_buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
  footer{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    div.top-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      a.first-text{
        font-weight: 700;
      }
      div.top-box_about_logo{
        justify-content: center;
        text-align: center;
      }
    }
    div.top-box_about{
      flex-basis: 100%;
    }
    div.top-box_contact_icon{
      gap: 1rem;
    }
    div.bottom-box_terms{
      gap: 1px;
    }
    div.bottom-box_terms{
      display: none;
    }
  }
}

@media screen and  (max-width: 320px){
  main{
    section.report{
      div.report-background{
        position: relative;
        margin-top: 0rem;
        height: 33rem;
        p{
          width: 80%;
          line-height: 2rem;
          font-size: 1.25rem;
        }
      }
    }
  }
}
